{% extends 'navBar.html' %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb my-0 ms-2">
    <li class="breadcrumb-item">
      <!-- if breadcrumb is single--><a href="#">Home</a>
    </li>
    <li class="breadcrumb-item">
      <!-- if breadcrumb is single--><a href="#">Components</a>
    </li>
    <li class="breadcrumb-item">
      <!-- if breadcrumb is single--><a href="#">Base</a>
    </li>
    <li class="breadcrumb-item active"><span>Chart</span></li>
  </ol>
</nav>
{% endblock %}

{% block content %}

<div class="body flex-grow-1 px-3">
  <div class="container-lg">
    <div class="row row-cols-2">

      <div class="col">
              <div class="card mb-4">
                <div class="card-header"><strong>Chart</strong><span class="small ms-1">Pie</span></div>
                <div class="card-body">
                  <div class="example">
                    <div class="nav ">
                      <strong>Card</strong>
                    </div>
                    <div class="tab-content rounded-bottom">
                      <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1001">
                        <div class="c-chart-wrapper">
                          <canvas id="canvas-1"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

      <div class="col">
              <div class="card mb-4">
                <div class="card-header"><strong>Chart</strong><span class="small ms-1">Pie</span></div>
                <div class="card-body">
                  <div class="example">
                    <div class="nav ">
                      <strong>Card</strong>
                    </div>
                    <div class="tab-content rounded-bottom">
                      <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1002">
                        <div class="c-chart-wrapper">
                          <canvas id="canvas-2"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

      <div class="col">
              <div class="card mb-4">
                <div class="card-header"><strong>Chart</strong><span class="small ms-1">极地面积图</span></div>
                <div class="card-body">
                  <div class="example">
                    <div class="nav ">
                      <strong>网页广告数据分布</strong>
                    </div>
                    <div class="tab-content rounded-bottom">
                      <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1003">
                        <div class="c-chart-wrapper">
                          <canvas id="canvas-3"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

      <div class="col">
              <div class="card mb-4">
                <div class="card-header"><strong>Chart</strong><span class="small ms-1">饼状图</span></div>
                <div class="card-body">
                  <div class="example">
                    <div class="nav ">
                      <strong>广告数据集分布</strong>
                    </div>
                    <div class="tab-content rounded-bottom">
                      <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1004">
                        <div class="c-chart-wrapper">
                          <canvas id="canvas-4"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


    </div>
  </div>
</div>


{% endblock %}

{% block script %}
<script src="js/charts_test.js"></script>
{% endblock %}